@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Definição de variáveis */
:root {
    /* cor primaria em RGB 
      #8C7C2A = RGB(140,124,42)
    */
    --cor-primariaRGB: 255, 174, 0;
    --cor-secundaria: rgba(255, 174, 0, 0.5);
    --cor-secundaria-clara: rgba(255, 174, 0, 0.25);
    --cor-fundo-clara: rgba(255, 174, 0, 0.2);
    --cor-fundo-escura: rgba(255, 174, 0, 0.1);
    --cor-texto-escura: rgba(125, 87, 0, 1);
    --cor-primaria: rgba(255, 174, 0, 1);

}

body {
    background-color: rgba(var(--cor-primariaRGB), 0.1);
}

* { 
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    box-sizing: border-box;   
}

header {
    display: flex;
    box-sizing: border-box;
    background-color: rgba(var(--cor-primariaRGB), 0.1);
}

.img-logo {
    background-color: rgba(var(--cor-primariaRGB), 0.3);
    /* padding: 20px; */
}

.img-logo a {
    text-decoration: none;
}

.img-logo h1 {
    font-size: 0.9rem;
}

.menu {
    display: inline-block;
    position: relative;
    background-color: rgba(var(--cor-primariaRGB), 0.3);
    width: 100%;
    margin-right: 5px;
}


.menu li {
    margin: 10px 0;
}

.menu a {
    height: 100%;
    padding-left: 5px;
    padding: 5px 10px 0 10px;
    transition: 300ms;
    border-bottom: 7px;
    text-decoration: none;    
}

.menu a:hover {
    filter: brightness(0.5); 
    border-bottom: 3px solid;    
    transition: .4s;
    text-decoration: none;
    color: var(--cor-texto-escura);    
    background-color: rgba(var(--cor-primariaRGB), 0.1);
    /* color: #000000; */
    /* font-size: 0.8rem; */
}

input, span {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    
}

input {
    z-index: 100; 
    opacity: 0; 
    display: none;  
}

 span {
    display: block;
    background-color: rgba(var(--cor-primariaRGB), 0.8);
    border-radius: 4px;
    border: 4px solid #FFFFFF;
    background-image: url('/img/menu-icon-48x48.png');
    background-size: 40px 40px;
    background-position: center center;
    cursor: pointer;
    display: none;
}

/* Seletor ~: seleciona o próximo elemento (irmão) */
 input:checked ~ span {
    /* Troca a imagem */
    background-image: url('/img/close-icon-48x48.png');
}


.submenu2 {
    padding: 14px;
    border-radius: 5px;
    background: var(--cor-primaria);
}

.submenu1 a {
    color: var(--cor-texto-claro); 
    font-size: 1.1rem;
}


.submenu2 a {
    color: var(--cor-texto-claro); 
    font-size: 1.1rem;
}

nav ul li {
    display: inline-block; 
    list-style: none; 
}


#content {
    background-color: rgba(var(--cor-primariaRGB), 0.1);
    padding: 20px;
    display: flex;
    flex-direction: row;
}

main, aside {
    background-color: rgba(var(--cor-primariaRGB), 0.2);
    /* background-color: var(--cor-texto-claro); */
    padding: 24px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
    flex-grow: 1;   
    max-width: 100%;
}

main {
    width: 75%;
}

aside {   
    margin-left: 20px;
    background-color: rgba(var(--cor-primariaRGB), 0.5);
    width: 25%;
}

aside > article > img {
    display: block;
    margin: 0 auto;
    border-radius: 4px; 
    max-width: 100%;
}

aside > article > h1 > a {
    font-size: 1rem;
    color: #000000;
}

aside > article > h1 {
    margin-top: 6px;
}


main article, aside article {  
    margin: 24px 0;     
}

main > h1, aside > h1 {         
    text-transform: uppercase;
    color: var(--cor-texto-escura);
}

article > h1 {    
    margin-bottom: 6px;
}


article > h1 > a {
    font-size: 1.5rem;    
    color: var(--cor-texto-escura);    
}

article > p {
    color: #000000;
}

article > h2 {
    font-size: 0.8rem;
    text-transform: uppercase; 
}

.destaque, .destaquevideo {
    background-color: rgba(var(--cor-primariaRGB), 0.3);
    /* background-color: var(--cor-secundaria-clara); */
    padding: 24px;
    border-radius: 4px; 
}

.destaque p {
    color: #000000;
    font-size: 1.5rem;
}

.destaque > h1 > a {
    font-size: 2.5rem;
    color: var(--cor-texto-escura);    

}

.destaque > h2 {
    font-size: 1rem;
}

.foto-texto img {
    width: 450px;
    margin-right: 24px;
    border-radius: 4px;
    max-width: 100%;
}

.foto-texto {
    display: flex;
    flex-direction: row; 
}

.individual h1 {
    color: var(--cor-primaria);
    font-size: 2.5rem;
    margin: 12px 0;
}

.individual .foto-texto {
    flex-direction: column;
}

.individual .foto-texto p {
    margin: 12px 0 36px 0;
    font-size: 1.2rem;
    font-weight: bold;
}
.individual .foto-texto img {
    margin-left: auto;
    margin-right: auto;
  }
.individual p {
    font-size: 1.1rem;
    margin-bottom: 12px;

}
.videos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.videos iframe {
    width: 600px;
    height: 300px;
}



footer {

    background-color: var(--cor-primaria);
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    /* Dá espaço automaticamente entre os itens de um flexbox */
    justify-content: space-between;
    align-items: center;

}


footer a {
    color: #ffffff;
    
}

footer ul li {
    display: inline-block;  /* Coloca os itens de uma lista na horizontal */
    padding: 0 12px;
    border-right: 2px solid #ffffff;
}

footer ul li:last-child {
    border-right: none;
}

footer img {
    width: 100px;
    height: 100%;
}



#social {
    background-color: transparent;  /* Tira a cor de fundo */
    display: flex;
    align-items: center;
}

#social img {
    width: 32px;
}

#social a {
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    align-items: center;
}

#social a span {
    margin-left: 6px;
    display: none; /* Esconder o texto dos links */
}

#social a:hover span {
    display: inline;  /* Mostra novamente o texto ao passar o mouse */  
}

aside address {
    border: black 1px solid;
    border-radius: 10px;
    padding: 10px;
}



/* 1° Breakpoint  */
@media screen and (max-width: 1200px) {
    .submenu1 a {
        font-size: 1.0rem;
    }
    
    
    .submenu2 a {
        font-size: 1.0rem;
    }
    /* .img-logo {
        height: 130px;
    } */

}

/* 2° Breakpoint  */

@media screen and (max-width: 1020px) { 
    .submenu1 a {
        font-size: 0.8rem;
    }
       
    .submenu2 a {
        font-size: 0.7rem;
    }
    .foto-texto {
        display: block;
        flex-direction: row;
    }
    aside {
        padding: 10px;
    }
    .videos iframe {
        width: 500px;
        height: 250px;
    }
    

}

/* 3° Breakpoint  */

@media screen and (max-width: 840px) { 

    #content {
        flex-direction: column;
        align-items: center;

    }

    header{
        flex-direction: column;
    }

    header img {
        max-width: 80%;
    }


    main {
        width: 100%;
    }
    aside {
        margin-left: 0;
        width: 100%;
    }

    aside > h1 > a {
        font-size: 2.5rem;
    }

    aside > img {
        width: 30px;
        height: 30px;
    }

    aside > article > h1 {
        text-align: center;
        font-size: 2rem;
    }

    .destaque img {
        /* Centralizar a imagem */
        margin-left: auto;
        margin-right: auto;
    } 

    .destaque > h1 > a, .individual h1 {
        font-size: 2rem;
    }
    .img-logo {
        margin-left: 2px;
        border-radius: 5px;
        display: flex;
        /* width: 100%; */
    }
    /* Mostra o botão do menu */
     input,  span {
        display: block;
        left: 150px;
    }
    /* mostrando o menu em colunas */
    input:checked ~ .menu {
        display: block;
    }   

    .menu {
        display: none;
    }

    .menu a {
        font-size: 1.1rem;
    }
    
    nav ul li {
        display: block;
    }
    .submenu2 {
        padding: 0;
        background-color: rgba(var(--cor-primariaRGB), 0.1);    
    }
    footer ul li {
        padding: 12px;
        border-right: none;
    }
    .videos iframe {
        width: 400px;
        height: 200px;
    }

}

/* 4° Breakpoint  */

@media screen and (max-width: 640px) {

    .destaque > h1 > a, .individual h1 {
        font-size: 2rem;
    }
    
    .destaque img {
        margin-right: 0;
        margin-bottom: 24px;
    }

    .ulfooter {
     display: flex;
     flex-direction: column;   
    }
    .videos iframe {
        width: 350px;
    }


}



