@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* Definição de variáveis */
:root {
    --cor-primariaRGB: 140, 124, 42;
    --cor-primaria: #8C7C2A; /* cor antiga #550000 Cor do Rodape*/
    --cor-secundaria: #8C7C2A; /* cor antiga #FF7F2A */
    --cor-secundaria-clara: #DFF2EF; /* cor antiga #FFAF7B */
    --cor-fundo-clara: #77A69D; /* cor antiga #DDDDDD */
    --cor-fundo-escura: #BBBBBB; /* cor antiga #BBBBBB Cor do aside*/
    --cor-texto-claro: #FFFFFF; /* cor antiga #FFFFFF - cor do corpo principal*/
    --cor-texto-escura: #344747; /* cor antiga #444444 */
}
* {
    padding: 0;
    margin: 0;
    font-size: 16px;

}

